## Ignore Visual Studio temporary files, build results, and
## files generated y popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Ignore virtual environment
/venv/*

# Ignore visual studio code
/.vscode/*
